# Python cache и временные файлы
__pycache__/
*.py[cod]
*$py.class

# C расширения
*.so

# Файлы и папки сборки и упаковки
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller временные файлы
*.manifest
*.spec

# Логи установок pip
pip-log.txt
pip-delete-this-directory.txt

# Отчеты тестов и покрытия кода
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Переводы
*.mo
*.pot

# Django (если не используешь — можно оставить)
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask (если не используешь — можно оставить)
instance/
.webassets-cache

# Scrapy (если не используешь — можно оставить)
.scrapy

# Документация Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Окружения Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder настройки (если не пользуешься — можно удалить)
.spyderproject
.spyproject

# Rope настройки (если не пользуешься — можно удалить)
.ropeproject

# MkDocs сайт
/site

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Cython отладочные файлы
cython_debug/

# PyCharm IDE настройки (раскомментировано, чтобы не попадали в репозиторий)
.idea/

# Render локальная папка с настройками (удалена из репозитория)
.render/
